.task-list_input{
    box-sizing: border-box;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    background-color: transparent;
    border-radius: 0.75rem;
    caret-color: #ff6200;
    color: inherit;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight:400;
    padding: 0.625rem 1rem;
    height: 100%;
}

.task-list_input-container{
     box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f1f2f4;
    border-radius: 0.75rem;
    display: flex;
    width: 100%;
}

.task-list_input-btn{
    user-select: none;
    border: 0.0625rem solid transparent;
    border-radius: 0.75rem;
    color: #ffff;
    cursor: pointer;
    font-weight: 700;
    min-height: 3.125rem;
    text-align: center;
    background-color: #ff6200;
    width: 7rem;
}

.task-list_input-section{
    display:flex;
    flex-direction: row;
    gap: 20px;
}