.to-do-container__section {
    max-width: 1336px;
    padding: 3rem;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 1rem;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.to-do-container__title {
    font-weight: 700;
    line-height: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    gap: 16px;
    font-size: 15px;
    color: #fff;
}

.to-do-container {
    background: #e55800;
    height: 9rem;
}

.to-do-img {
    height: 48px;
    width: 48px;
}